<div class="card">
    <div class="left">
        <h4 class="title">{{title}}</h4>
        <p class="p">{{paragraph}}</p>
    </div>
    <div class="right">
        <button class="btn">{{text}}</button>
    </div>
</div>