.card{
    display: flex;
    justify-content: center;
    background-color: rgb(182, 0, 0);
}

.title{
    color: white;
    margin: 10px 0px;
    text-transform: uppercase;
}

.p{
    color: white;
    line-height: 1.3em;
}


.btn{
    background-color: transparent;
    color: white;
    text-decoration: none;
    min-height: 90px;
    margin: 10px ;
    border: 3px solid;
    padding: 30px;
    text-align: center;
}

.btn:hover{
    background-color: rgb(87, 84, 84);
    color: white;
    border: 3px white solid;
}


.left{
    width: 60%;
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 40px;

}

.right{
    display: flex;
    margin: auto;
    padding: 10px;
    width: 40%;
    justify-content: center;
}