.btn{
    padding: 1em 2em;
    background-color: transparent;
    text-decoration: none;
    color: white;
    border: 10px white solid;
}

.btn:hover{
    background-color: black;
    color: white;
}

.card{
    padding: 1em 2em;
    background-color: green;
    color: white;
    border: 2px black solid;
}